<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    body {
      background-image: url('{% static "image/123.jpg" %}');
      background-position: centre centre;

      background-size: cover;
      background-repeat: no-repeat;
      background-color: azure;
      background-attachment: fixed;
    }
  </style>

</head>

<body>

  {% include "insurance/navbar.html" %}
  <br><br>
  <div style="float: left; ">

    <h3>About us </h3>
    <div style="box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);">
      <div class="jumbotron text-left" style="margin-bottom: 0px;margin-top: 0px ; background-color: rgb(0, 0,0,0.4);">

        <p class="lead" style="
      
        letter-spacing: 2px;
        word-spacing: 2px;
        color: #FFFFFF;
        font-weight: 400;
        text-decoration: none;
        
        font-variant: normal;
        text-transform: none;">
          Whether our clients need help filing a claim, processing a payment, or just understanding their insurance
          coverage we'll always be there ready to help.
          


        </p>
        <hr class="my-4">
        <p style="
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    
    font-variant: normal;
    text-transform: none;">Explore our Website.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/" role="button" style="
      font-size: 20px;
      letter-spacing: 2px;
      word-spacing: 2px;
      color: #FFFFFF;
      font-weight: 400;
      text-decoration: none;
      
      font-variant: normal;
      text-transform: none;">HOME</a>
        </p>
        <br><br><br><br>
      </div>
    </div>
  </div>

  {% include "insurance/footer.html" %}
</body>

</html>